<% provide(:title, 'Forum') %>

<div class="col-xs-12 post">
  <div class="wrap-ut pull-left">
    <div class="userinfo pull-left">
      <div class="avatar">
        <%= image_tag micropost.user.picture.thumb.url %>
      </div>
    </div>
    <div class="posttext pull-left">
      <h2>
        <%= link_to micropost.title, micropost %> by <%= link_to micropost.user.name, micropost.user %>
      </h2>
      <p>
          <%= micropost.content %>
      </p>
    </div>
  </div>
  <div class="postinfo pull-left">
    <div class="comments">
      <div class="commentbg">
        456
        <div class="mark"></div>
      </div>
    </div>
    <div class="views"><i class="glyphicon glyphicon-eye-open"></i> Views</div>
    <div class="time"><i class="glyphicon glyphicon-time"></i> <%= time_ago_in_words(micropost.created_at) %></div>                               
  </div>
</div>
