<% provide(:title, 'Nuovo post') %>
<div id="sfondo" class="container-fluid">
  <div class="container no-xs-padding">
    <%= render 'shared/forum_navbar' %>
    <section id="f-section3" class="container">
      <!--start topics -->
      <div class="col-xs-12 col-md-8">
        <div class="col-xs-12 newtopic sidebarblock"> 
          <h2 class="row text-center">
            Condividi il tuo racconto
          </h2>
          <%= form_for @micropost do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="col-xs-12 col-sm-7">
              <%= f.text_field :title, class: 'form-control', placeholder: "Inserisci il titolo" %>
            </div>
            <div class="col-xs-12 col-sm-5">
              <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Categoria" }, class: 'form-control' %>
            </div>
            <div class="col-xs-12">
              <%= f.text_area :content, class: 'form-control', placeholder: "Inserisci la trama" %>
            </div>
            <div class="col-xs-12">
              <div id="div_attachment" class="col-xs-6 col-sm-4 pull-left">
                <label id="label_attachment" class="btn btn-file">
                  Allega file 
                  <%= f.file_field :attachment %>
                </label>
                <span id="check_file" class="glyphicon glyphicon-check" data-toggle="popover"
                                      data-trigger="hover" data-content="Elimina allegato">
                </span>
              </div>
              <div class="col-xs-6 col-sm-4 pull-right">
                <%= f.submit "Pubblica", class: 'btn pull-right ' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <aside class="col-xs-12 col-md-4">
        <%= render 'categories' %> 
      </aside>
    </section>
  </div>
</div>
<script>
  button = $('#delete_attachment');
  label = $('#label_attachment');
  input = $('#micropost_attachment');
  check = $('#check_file');

  function check_attachment() {
    if (input.val() != "") {
      check.fadeIn();
    }else{
      check.hide();
    }
  }

  input.change(check_attachment);

  check.click(function() {
    input.val("");
    check_attachment();
  });

  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
  });
</script>
