<% provide(:title, @micropost.title) %>

<div class="container-fluid" id="sfondo" >
<!-- start of forum -->
  <div class="container no-xs-padding">
    <%= render 'shared/forum_navbar' %>
    <section id="f-section3" class="col-xs-12">
      <!--start topics -->
	    <div id="topic-area" class="col-xs-12 col-md-8">
		    <div id="topic" class="col-xs-12 post">
			    <div class="userinfo text-center pull-left">
            <div class="avatar">
              <%= image_tag @micropost.user.picture.thumb.url %>
              <p class="text-center"><%= link_to @micropost.user.name, @micropost.user %></p>
            </div>
			      <i class="glyphicon glyphicon-thumbs-up">
			        <h5>25</h5>
			      </i>
			    </div>
			    <div class="posttext pull-left">
			      <h2><%= @micropost.title %></h2>
			      <p><%= @micropost.content %></p>
            <div class="hidden-xs pull-left">
					    <i class="fa fa-clock-o posted pull-right"><%= @micropost.created_at %></i>
				    </div>
            <div class="row">
				      <div class="col-xs-12 col-sm-5 pull-right">
                <div class="col-xs-3">
                  <i class="glyphicon glyphicon-thumbs-up"></i>
                </div>
					      <div class="col-xs-3">
					        <i class="glyphicon glyphicon-eye-open"></i>
					      </div>
					      <div class="col-xs-3">
                  <% if !@micropost.attachment.file.nil? %>
                    <%= link_to @micropost.attachment.url do %>
                    <% debugger %>
    			            <i class="glyphicon glyphicon-download"></i>
                    <% end %>
                  <% else %>
                    <i class="glyphicon glyphicon-download"></i>
                  <% end %>
					      </div>
					      <div class="col-xs-3">
					        <i class="glyphicon glyphicon-share"></i>
					      </div>
				      </div>
            </div>
			    </div>
		    </div>
        <h2>Pubblica il tuo commento</h2>
			  <!--REPLAY -->
        <% if logged_in? %>
			    <div id="comment-area" class="post col-xs-12">
            <div class="userinfo text-center pull-left">
				      <div class="avatar">
					      <%= image_tag @micropost.user.picture.thumb.url %>
				      </div>
				    </div>
            <div class="col-xs-9">
              <%= form_for @comment do |f| %>
                <%= f.hidden_field :micropost_id, value: @micropost.id %>
                <%= f.text_area :content, placeholder: "Scrivi un commento...", class: 'form-control' %>
              <% end %>
			      </div>
            <%= button_tag(type: 'submit', form: 'new_comment') do %>
              <i class="glyphicon glyphicon-send"></i>
            <% end %>
          </div>
          <h2>Lista commenti</h2>
          <%= render @micropost.comments %>
        <% end %>
      </div>
    </section>
  </div>
</div>
