<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="signupModalLabel">Registrati</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:user, url: users_path) do |f| %>
          <%= render 'shared/signup_error_messages' %>
		  
		      <%= content_tag :div, class: 'input-group' do %>
		        <%= f.text_field :name, class: 'form-control', placeholder: "Username" %>
			      <%= content_tag :span, (content_tag :i, nil, class: 'glyphicon glyphicon-user'), class: 'input-group-addon' %>
		      <% end %>

		      <%= content_tag :div, class: 'input-group' do %>
		        <%= f.email_field :email, class: 'form-control', placeholder: "E-mail" %>
			      <%= content_tag :span, (content_tag :i, nil, class: 'glyphicon glyphicon-envelope'), class: 'input-group-addon' %>
		      <% end %>

		      <%= content_tag :div, class: 'input-group' do %>
		        <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
			      <%= content_tag :span, (content_tag :i, nil, class: 'glyphicon glyphicon-lock'), class: 'input-group-addon' %>
		      <% end %>

		      <%= content_tag :div, class: 'input-group' do %>
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Password confirmation" %>
            <%= content_tag :span, (content_tag :i, nil, class: 'glyphicon glyphicon-ok'), class: 'input-group-addon' %>
			   <% end %>

        <div class="modal-footer">
          <%= f.submit "Registrati", class: "btn btn-primary" %>
        </div>
        <% end %>
	  </div>
    </div>
  </div>
</div>
<% if triggerSignupModal? %>
  <script>
    triggerModal("#signupModal");
  </script>
<% end %>
