<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="signupModalLabel">Registrati</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:user, url: users_path) do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.hidden_field :forwarding_url, value: request.url if request.get? %>

          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
          <%= f.submit "Registrati", class: "btn btn-primary" %>
        </div>
        <% end %>
    </div>
  </div>
</div>
<% if triggerSignupModal? %>
  <script>
    triggerModal("#signupModal");
  </script>
<% end %>
